/* Set the styles for the body */
body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

/* Set the styles for the header */
header {
    padding: 0px;
    text-align: center;
    background-color: #444444;
    margin: 0;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Set the styles for the title */
h1{
    font-size: 50px;
    background-color: #00FF00;
    font-weight: bolder;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-image: linear-gradient(-75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.5) 5%,
    rgba(255, 255, 255, 0.5) 10%,
    transparent 10%,
    transparent 100%
    );
    background-size: 200% 100%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    background-clip: text;
    transition: 1.2s;
}
/*Hover effect for the title*/
h1:hover{
    background-position: -120% 0;
}
/* Set the styles for the navigation */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    text-align: center;
    padding: 0px;
}
/* Set the styles for the main menu*/
.mainmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(134, 129, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2); 
    gap: 20px;
}
/* Set the styles for the main menu items */
.mainmenu a {
    text-decoration: none;
    color: #00FF00;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(134, 129, 129);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1); 
}
/* Set the styles for the main menu items when clicked */
.mainmenu a:active {
    box-shadow: none;
    transform: translateY(4px);
}
/* Set the styles for the footer */
footer {
    padding: 10px;
    background-color: #444444;
    color: #00FF00;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: left;
}
/* Set the styles for the footer */
#footer{
    padding: 10px;
    background-color: #444444;
    color: #00FF00;
    width: 100%;
    box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: left;
    position: relative;
    bottom: 0;
    transform: translateY(100%);
    margin-top: 20px;
}
/* Set the styles for the content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: transparent;
    overflow-y: auto;
}
/* Set the styles for info */
.content .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    color: #00FF00;
    font-weight: bold;
}
/* Set the styles for site info */
.content .siteInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    color: #00FF00;
    font-weight: bold;
}
/* Set the styles for the press to start button */
.content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: xxx-large;
    color: #00FF00;
    font-weight: bold;
}

/* Set the styles for the start button */
#start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}
/* Set the styles for the start button when hovered */
.start{
    font-size: xxx-large;
    background-color: #00FF00;
    font-weight: bold;
    
    background-image: linear-gradient(-75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.5) 5%,
    rgba(255, 255, 255, 0.5) 10%,
    transparent 10%,
    transparent 100%
    );
    background-size: 200% 100%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    background-clip: text;
    transition: 1.2s;
}
/* Set the styles for the start button when hovered */
.start:hover{
    background-position: -120% 0;
}
/* Set the styles for the login page */
.loginPage{
    background-color: lightgray;
    width: 40%;
    height: auto;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
}
/* Set the styles for the gameWindowBorder */
.gameWindowBorder{
    background-color: gray;
    width: 60%;
    height: 70vh;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
/* Set the styles for the playerHandImg */
.playerHandImg{
    z-index: 0;
    border: black 2px solid;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    position: absolute;
    right: 0;
}
/* Set the styles for the opponentHandImg */
.opponentHandImg{
    z-index: 0;
    border: black 2px solid;
    border-radius: 5px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
/* Set the styles for img */
img{
    width: 100px;
    height: 120px;
    margin: 10px;
    cursor: pointer;
}
/* Set the styles for the gamePage */
#gamePage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh -40px);
    z-index: 0;
}
/* Set the styles for the gameWindow */
.gameWindow{
    width:95%;
    height: 90%;
    border-radius: 10px;
    margin: auto;
    z-index: 1;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* Set the styles for the gameWindow*/
.gameWindow::after{
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    z-index: 2;
}
/* Set the styles for the startGameWindow */
.startGameWindow{
    background-color: rgba(0, 255, 0, 0.5);
    width:95%;
    height: 90%;
    border-radius: 10px;
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* Set the styles for the screenOverlay */
.screenOverlay{
    z-index: 2;
    width:100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2); 
}
/* Set the styles for the startScreenOverlay */
.startScreenOverlay{
    z-index: 5;
    width:100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2); 
}
/* Set the styles for the startGame */
.startScreenOverlay  #startGame{
    background-color: transparent; 
    color: lightgreen;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: x-large;
    animation: blink 1.5s linear infinite;
    z-index: 100;
}
/*Blinking animation for the startGame and restartGame buttons*/
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
/* Set the styles for the moveList */
.moveList{
    background-color: rgb(134, 129, 129);
    margin: 20px;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    z-index: 1;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
/* Set the styles for the moveList buttons */
.moveList button{
    background-color: gray;
    color: #00FF00;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
/* Set the styles for the moveList buttons when clicked */
.moveList button:active{
    box-shadow: none;
    transform: translateY(4px);
}

/* Set the styles for leaderboard */
#Leaderboard{
    background-color: transparent;
    font-size: 30px;
    margin-top: 0;
    padding: 0;
    display: grid;
    color: #00FF00;
    text-decoration: underline;
}
/* Set the styles for the leaderboardsTable */
.leaderboardsTable{
    background-color: darkgray;
    width: 95%;
    height: 90%;
    border-radius: 10px;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
/* Set the styles for the leaderboardsBackground */
.leaderboardsBackground{
    background-color: gray;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
/* Set the styles for the leaderboards table */
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px;
    padding: 5px;
    color: #00FF00;
    font-weight: bold;
    font-size: 20px;
}
/* Set the styles for th */
th{
    text-decoration: underline;
    padding-bottom: 10px;
}
/* Set the styles for tr */
tr{
    border-bottom: 1px solid #00FF00;
    padding: 10px;
}
/* Set the styles for the second and third child of td */
table tr td:nth-child(2),
table tr td:nth-child(3) {
    text-align: center;
}
/* Set the styles for the Make a move! text*/
#move{
    font-size: 20px;
    font-weight: bold;
    color: #00FF00;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* Set the styles for the top container */
.screenOverlay #topContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}
/*Set the styles for the top container span*/
#topContainer span{
    font-size: 20px;
    font-weight: bold;
    color: #00FF00;
}
/* Set the styles for the scoreboard */
#topContainer #scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    flex-direction: row-reverse;
}
/* Set the styles for the playerScore and opponentScore */
#playerScore, #opponentScore{
    font-size: x-large;
    margin: 10px;
}
/* Set the styles for the result */
#result {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #00FF00;
    text-align: center;
}
/* Set the styles for the restartGame button */
#restartGame{
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: lightgreen;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: x-large;
    animation: blink 1.5s linear infinite;
    z-index: 100;
}
/* Fading animation for hands */
@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* Fading animation for hands */
.fade {
    animation: fade 0.5s ease-in-out 3;
}
/* Set the styles for the mute button */
#mute{
    color: #00FF00;
}
/* Set the styles for the ruleset */
#ruleset{
    width: 40%;
    height: auto;
}
/* Arcade Name */
#arcadeName {
    font-family: 'Press Start 2P', cursive; 
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: lightgreen;
    background-color: #00FF00;
    display: none;
    border: none;
}

/* Input Name */
#inputName{
    display: none;
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -30%); 
    color: lightgreen;
    font-weight: bold;
    font-size: x-large;
    animation: blink 1.5s linear infinite;
}

/* Dropdown Button */
nav{
    position: relative;
}

/* Dropdown Content*/
#dropdownContent {
    display: block;
    position: absolute;
    background-color: #444444;
    z-index: 100;
    width: 100%;
    top: 100%; 
    left: 0;
    max-height: 0; 
    transition: max-height 0.5s ease-in-out; 
    overflow: hidden;
}

/* Dropdown Content (Hidden by Default) */
#dropdownContent a {
    color: #00FF00;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
/*Hiding the navIcon*/
#navIcon{
    display: none;
}
/* Styling for small screens*/
@media screen and (max-width: 480px) {
    .mainmenu{
        display: none;
    }
    #navIcon{
        display: block;
        font-size: 20px;
        color: #00FF00;
        cursor: pointer;
    }
    #dropdownContent.active {
        display: block;
        max-height: 500px;
    }
    .titleBackground {
        padding: 0px 10px; 
        width: fit-content; 
        position: relative;
        left: 40%;
        transform: translateX(-40%);
    }
    .titleBackground h1 {
        font-size: 40px;
    }
    header {
        padding: 10px;
        display: flex; 
        justify-content: left; 
        align-items: center; 
        flex-direction: row-reverse;
    }

    .gameWindowBorder {
        width: 70%;
        height: 40vh;
    }

    .moveList{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px 10px;
    }
    
    .moveList button {
        padding: 2px;
        font-size: 15px;
    }
    .content h2 {
        font-size: 30px;
        padding: 10px;
        width: fit-content;
    }

    .content .info {
        font-size: 15px;
        padding: 5px;
        width: 80%;
    }
    .content #start {
        font-size: 10px;
        padding: 10px;
        width: 70%;
    }
    #ruleset{
        width: 80%;
    }
}